{
  "extends": ["react-app"],
  "rules": {
    "@typescript-eslint/no-unused-vars": ["warn"],
    "no-console": ["warn"],
    "react-hooks/exhaustive-deps": ["off"],
    "eqeqeq": ["error"],
    "import/no-unresolved": "off",
    "no-use-before-define": "off",
    "import/no-named-as-default-member": 0,
    "import/order": [
      2,
      {
        "groups": ["external", "index", "sibling", "parent", "internal", "builtin"]
      }
    ],
    "import/prefer-default-export": 0,
    "react-hooks/rules-of-hooks": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "no-nested-ternary": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "react/no-array-index-key": 0
  }
}
